*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    color: var(--black);
}

:root {
    --main-color: #525CEB;
    --black: #3D3B40;
    --body-color:#f4f4f4;
    --nav-color: #BFCFE7;
    --nav-a-color: white;
    --gradient: lightgrey;
    --footer-color: #F8EDFF;
    --shadow:rgba(18, 11, 56, 0.2);
    --section: #f4f4f4;
    --flex-element: --flex-element;
    --h2-tecno: #BFCFE7;

}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: #868cdb;
        --black: #ccc9dc;
        --body-color:#23222b;
        --nav-color: #5F85DB;
        --nav-a-color: #515acf;
        --gradient: #5a5e68;
        --footer-color: #1b2a41;
        --shadow:rgba(5, 7, 7, 0.644);
        --section: #353941;
        --flex-element: #5F85DB;
        --h2-tecno:#a8aceb;
    }
  }

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
}

nav{
    background-color: var(--nav-color);
    
    text-align: center;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
    margin:  30px;
    background: var(--black);
    min-width: 110px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    cursor: default;
    border: 3px solid var(--black);
    background: var(--nav-a-color);
    color: var(--black);
    transition: transform 0.3s ease;
    min-height: 100%;
    padding: 10px;


}

nav ul li a:hover{
    color: grey;
    transform: translate(-8px ,-8px);
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
    text-align: center;
    font-weight: 600;
}

section {
    background-color: var(--section);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 4px 5px var(--shadow);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--body-color);
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

footer ul li{
    padding-left: 5px;
    margin: 5px;
    border-left: 1px solid var(--footer-color);
}

footer ul li a{
    text-decoration: none;
    color: var(--footer-color);
    margin-right: 10px;
}

footer a:hover{
    color: var(--nav-a-color);
    text-decoration: underline;
}

#idiomas {
    background-color: var(--section);
    padding: 20px;
}

.languages-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language {
    
    background-color: var(--flex-element);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow);
    width: 180px;
    text-align: center;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}

div.language-left{
    float: left;
    width: 70%;
}

div.language-right{
    float: right;
    width: 10%;
    margin: 0 0 0 10%;
    min-height: 100%;
    border: 2px solid var(--black);
}

div.language-right[data-lvl="5"]{
    background: linear-gradient(to top, var(--main-color) 100%, var(--gradient) 100%);
}

div.language-right[data-lvl="4"]{
    background: linear-gradient(to top, var(--main-color) 80%, var(--gradient) 90%);
}

div.language-right[data-lvl="3"]{
    background: linear-gradient(to top, var(--main-color) 60%, var(--gradient) 70%);
}

div.language-right[data-lvl="2"]{
    background: linear-gradient(to top, var(--main-color) 40%, var(--gradient) 50%);
}

.language-right[data-lvl="1"]{
    background: linear-gradient(to top, var(--main-color) 20%, var(--gradient) 30%);
}






#informatica {
    background-color: var(--section);
    padding: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--flex-element);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 4px var(--shadow);
    width: 180px;
    text-align: center;
}

.skill span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: varvar(--section);
    padding: 20px;
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--flex-element);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow);
    width: 250px; /* Ajusta según necesidad */
    text-align: center;
}

.job span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-reglada {
    background-color: var(--section);
    padding: 20px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--flex-element);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow);
    width: 100%; /* Ajuste según necesidad */
    text-align: center;
    margin: 20px 0;
}

.degree span {
    font-size: 50px;
    margin-bottom: 10px;
}

#formacion-complementaria {
    background-color: var(--section);
    padding: 20px;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--flex-element);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow);
    width: 250px; /* Ajuste según necesidad */
    text-align: center;
}

.course span {
    font-size: 50px;
    margin-bottom: 10px;
}

#informatica h2:first-child {
    margin: 0;
}

#informatica h2{
    text-align: left;
    margin: 40px 0 0 0;
    font-weight: 400;
    border-bottom: 2px solid var(--h2-tecno);
}

#informatica h2:first-child {
    margin: 0;
    text-align: center;
    font-weight: 600;
    border-bottom: 3px solid var(--main-color);
}

.skills-web {
    display: none;
}

h2:hover + .skills-web {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skills-web:hover{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skills-prog {
    display: none;
}

h2:hover + .skills-prog {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skills-prog:hover{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skills-bd {
    display: none;
}

h2:hover + .skills-bd {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skills-bd:hover{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skills-otros {
    display: none;
}

h2:hover + .skills-otros {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.skills-otros:hover{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}


